* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f4f7fb;
  color: #222;
}

/* Navbar */
.navbar {
  background: rgb(29, 46, 69);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.navbar nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 600;
}

.navbar nav a:hover {
  text-decoration: underline;
}

/* Hero */
.hero {
  height: 90vh;
  background: linear-gradient(to right, #0b5ed7, #3da5ff);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.hero-content {
  text-align: center;
  color: white;
  max-width: 800px;
}

.hero-content h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 25px;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  background: white;
  color: #0b5ed7;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  margin: 5px;
}

.btn2 {
  background: transparent;
  color: white;
  border: 2px solid white;
}

.btn:hover {
  opacity: 0.9;
}

.full {
  width: 100%;
  border: none;
  cursor: pointer;
}

/* Sections */
section {
  padding: 60px 30px;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card, .dept {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

/* Booking Form */
.booking {
  background: #eaf3ff;
}

.form {
  max-width: 850px;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
}

.row {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.input-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-box label {
  font-weight: 600;
  margin-bottom: 6px;
}

.input-box input,
.input-box select,
.input-box textarea {
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 7px;
  font-size: 15px;
}

/* Login */
.login-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  max-width: 900px;
  margin: auto;
}

.mini-form {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
}

.mini-form h3 {
  margin-bottom: 15px;
}

.mini-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 7px;
  border: 1px solid #bbb;
}

/* Footer */
.footer {
  background: blueviolet;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

.copy {
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.9;
}

/* Success Msg */
#successMsg {
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
  color: green;
}

